/* Custom CSS */

$primary-color: #e0be44;
$secondary-color: #0089ec;
$tertiary-color: #FFFBD0;


body {
  background-color: #eee;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

.right {
  float: right;
}

.strategy-container {
  overflow-y: auto;
  max-height: 400px;
}

.card-title {
  text-align: center;
}