twilio>=6.6.3
ccxt>=4.1.81
structlog>=17.2.0
python-json-logger>=0.1.8
pandas>=2.1.4
stockstats>=0.6.2
TA-lib>=0.4.28
tabulate>=0.8.2
slackweb>=1.0.5
tenacity>=4.8.0
python-telegram-bot==13.15
webcord>=0.2
jinja2>=2.10
requests>=2.20.0
PyYAML>=5.1
tulipy>=0.2.1
matplotlib>=3.8.2
scipy>=1.11.4
