<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/bitcoin.ico') }}" type="image/x-icon">

    <title>CryptoBot</title>

    <!-- Ubuntu Font CSS -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
    <!-- Nobile Font CSS -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nobile" />
    <!-- Raleway Font CSS -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />

    <!-- Materialize Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/botui.css') }}" rel="stylesheet">

    <!-- Materialize CSS -->
    <link href="{{ url_for('static', filename='css/materialize.css') }}" rel="stylesheet">

    <!-- SweetAlert2 CSS -->
    <link href="{{ url_for('static', filename='css/sweetalert2.min.css') }}" rel="stylesheet">

</head>

<body>
  <div id="app">
    <!-- React components get rendered here -->
  </div>

  <!-- jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Compiled and minified Materialize JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <!-- Load SweetAlert2 js -->
  <script src="{{ url_for('static', filename='js/sweetalert2.min.js') }}"></script>

  <!-- Load d3.js Graphing Library -->
  <script src="https://d3js.org/d3.v4.min.js"></script>

  <!-- Main Entry Point -->
  <script src="{{ url_for('static', filename='index.js') }}"></script>

</body>

</html>